// color scheme

// primer color scheme
$white: #fff;
$platinum: #E6E7E7;
$gray: #D1D1D1;

// segundo color scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #cf9e9d;
$spanish-pink: #ECBCBA;

//tercer color scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//FONT-FAMILY

$playfair: 'playfair display',serif;
$roboto: 'roboto',serif;

//Font weight
$light-fw: 300;
$regular: 400;
$super-bold: 900;

//Font Sizes
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;